﻿@model IEnumerable<Common.PropertyModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@if (Model == null)
{
    <p>There are no properties currently listed.</p>
}
else
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.area)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.descripition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.imagepath)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    Html.DisplayFor(modelItem => item.area)
                </td>
                <td>
                    Html.DisplayFor(modelItem => item.price)
                </td>
                <td>
                    Html.DisplayFor(modelItem => item.descripition)
                </td>
                <td>
                    Html.DisplayFor(modelItem => item.imagepath)
                </td>
                <td>
                    Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                    Html.ActionLink("Details", "Details", new { id = item.id }) |
                    Html.ActionLink("Delete", "Delete", new { id = item.id })
                </td>
            </tr>
        }

    </table>

}
